:root {
  --primary-color: #dee1ec;
  --primary-bg-1: #1e2a78;
  --primary-bg-2: #071e3d;
  --primary-bg-3: #2f89fc;
}
body {
  font-family: "Poppins", sans-serif;
  /* font-family: "Great Vibes", cursive; */
  background-color: #071e3d;
  /* filter: brightness(0.85); */
}
.activeNav {
  color: var(--primary-bg-3);
}
.parallaxScroll.active .fromLeftToRight {
  animation: fromLeftToRight 1s linear 1 forwards;
}
.parallaxScroll.active .fromRightToLeft {
  animation: fromRightToLeft 1s linear 1 forwards;
}
.parallaxScroll.active .showtop {
  animation: showtop 1s linear 1 forwards;
}
.toFixed {
  position: fixed !important;
  top: 0;
  background-color: #071e3de6;
}
